body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

.sv_main .sv_container .sv_body .sv_nav .sv_nav_btn,
.jspsych-btn {
  --textcolor: #ff7171;
  --textcolor-hover: #ff4f4f;
  --backcolor: #ffe1e1;
  --backcolor-hover: #ffcece;
  width: 100px;
  height: 40px;
  border: none;
  border-radius: 20px;
  padding: 10px;
  transition: all 0.2s ease;
  font-family: Microsoft YaHei;
  font-weight: bold;
  color: var(--textcolor);
  background-color: var(--backcolor);
  &:hover {
    transform: scale(1.02);
    background-color: var(--backcolor-hover);
    color: var(--textcolor-hover);
  }
  &:active {
    transform: scale(0.98);
    background-color: var(--backcolor-hover);
    color: var(--textcolor-hover);
  }
  &:disabled {
    cursor: progress;
  }
}

.sv_main .sv_container .sv_body .sv_nav .sv_nav_btn {
  line-height: 20px;
}

.sv_q_dropdown_control,
.sv_q_text_root {
  border-radius: 20px;
}
.sv_select_wrapper::before {
  border-radius: 0 20px 20px 0;
}

.sv_q_rating {
  border-radius: 20px;
  background-color: #f2f2f2;
  padding: 0 15px;
}

/* require 没输入的错误提示框 */
.sv_q_erbox.sv_qstn_error_top {
  border-radius: 20px;
  padding-top: 5px!important;
  padding-bottom: 5px!important;
}